<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itcough">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITCOUGH"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ImportActivity"
            android:exported="false"
            android:label="@string/title_activity_import"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".SetUpActivity"
            android:exported="false"
            android:label="@string/title_activity_set_up"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".RecordSetting"
            android:exported="false"
            android:label="@string/title_activity_record_setting"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".AdvanceSetting"
            android:exported="false"
            android:label="@string/title_activity_advance_setting"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".AiGenerateActivity"
            android:exported="false"
            android:label="@string/title_activity_ai_generate"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".CreateActivity"
            android:exported="false"
            android:label="@string/title_activity_create"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".AudioPlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_audio_play"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:label="@string/title_activity_gallery"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".CoughActivity"
            android:exported="false"
            android:label="@string/title_activity_cough"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".RecordPage"
            android:exported="false"
            android:label="@string/title_activity_record_page"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".File_Activity"
            android:exported="false"
            android:label="@string/title_activity_file"
            android:theme="@style/Theme.ITCOUGH" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ITCOUGH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.ContinuousAudioRecorder"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <receiver
            android:name=".NotificationActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_STOP_RECORDING" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.ClientId"
            android:value="416790674315-khk49fsrvusgguq2bic39ucg0oesh561.apps.googleusercontent.com" />
    </application>

</manifest>